@import "fonts"
@import "libs"
@import "base"
@import "vars"

.container
    margin-left: 300px

.content
    padding: 0 2.5rem
    background: #f5f5f5

.hidden-menu
    display: none

.hidden-menu-ticker
    display: none

.menu
    display: grid
    position: fixed
    top: 0
    left: 0
    z-index: 3
    min-height: 100%
    width: 300px
    .menu__container
        display: grid
        grid-template-columns: 1fr
        grid-template-rows: 130px minmax(0, 100%) 130px
        background-color: #fff
    .menu__header
        background-color: darken($dark, 8%)
        text-align: center
        height: 130px
        color: #fff
        .menu__title
            margin: 0
            font-size: 50px
            font-family: intro-grid, sans-serif
            font-weight: normal
        .menu__location-info
            margin: 0
            font-size: 13px
            font-family: sans-serif
            font-weight: normal
    .menu__nav
        margin: 0
        padding: 50px 0
        text-align: center
        .menu__link
            font-family: raleway-grid, sans-serif
            font-size: 16px
            color: #333
        ul,li, a
            list-style-type: none
            text-decoration: none
            margin: 0
            padding: 0
    .menu__footer
        padding: 10px 0
        display: flex
        flex-direction: column
        justify-content: space-around
        background-color: darken($dark, 8%)
        text-align: center
        color: #fff
        .menu__footer-element
            margin-left: 30px
            display: flex
            font-family: monospace
            font-size: 15px
            i
                margin: 4px
            p
                margin: 0 0 0 20px

.header
    display: grid
    min-height: 300px 
    background: url(../img/0-background.jpg)
    background-attachment: fixed
    background-position: top center
    background-repeat: no-repeat
    background-size: cover
    position: relative
    align-content: center
    &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        background-color: $dark
        opacity: .90
    .header__content
        display: grid
        z-index: 1
        color: #fff
        text-align: center
        padding: 60px $gutter
        .header__title
            font-size: 60px
            font-family: intro-grid, sans-serif
            font-weight: normal
            margin: 20px 0
            line-height: 1.5
        .header__location-inf
            font-size: 16px
        .header__button
            margin: 10px

.about
    .about__container
        display: grid
        grid-template-columns: 1fr 1fr
    .about__content
        .about__title
            margin-top: 0
            margin-bottom: 40px
        padding:
            top: 60px
            bottom: 60px
        img
            width: 100%
    .about__content_left
        border-right: 1px solid #dadada
        font-size: 18px
        padding:
            right: 60px
    .about__content_right
        font-size: 18px
        padding:
            left: 40px

.contacts
    background-color: $dark
    color: #fff
    .contacts__container
        padding: 30px 0
        text-align: center
    .contacts__content
        padding-top: 15px
        grid-template-columns: repeat(3, 1fr)
    .contacts__element
        padding: 0 $gutter
        font-family: monospace

.callback
    padding: 30px $gutter
    background-color: $dark
    .callback__input
        background-color: lighten($dark, 6%)
        border: none
        padding: 15px 20px
        width: 100%
        font-family: Arial, sans-serif
        font-style: italic
        outline: none
        transition: background-color .25s ease
        &:focus
            background-color: $light
        &::placeholder
            color: lighten($dark, 20%)
    .callback__form
        grid-gap: $gutter
        grid-template-columns: repeat(4, 1fr)
    .callback__button
        font-size: 17px
        padding: 14.5px
        width: 100%

.footer
    min-height: 130px
    padding: 34px 0
    background-color: darken($dark, 8%)
    text-align: center
    color: #4E5355
    .footer__logo
        font-family: intro-grid, sans-serif
        font-size: 22px
        line-height: 1.16
        span
            display: block
            color: #707476
            font-size: 26.8px
    .footer__copy
        font-size: 20px
        font-weight: bold
        color: #494D50

@import "media"
